<!DOCTYPE html>
<html>
  <head>
    <title>HelloRailsReact2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>

    <%= yield %>
    <div id="root"></div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
